@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body{
    max-width: 1440px;
    margin: 0 auto;
}
:root {
    --color-blue: #22202E;
    --color-blues: #726E8D;
    --color-white: white;
}
header{
    display: flex;
    padding-top: 20px;
    max-width: 1440px;
    align-items: center;
    flex-direction: column;
    height: 150px;
}
hr{
    margin-top: 43px;
}
header h1{
    position: absolute;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-blue);
    top:20px;
    font-family: 'ComFortaa', sans-serif;
}
.nav ul {
    display: flex; 
    width: 663px ;
    justify-content: space-between;
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:var(--color-blues);
    margin-top: 20px;
}

.page1{
    height: 704px;
    display: flex;
}
.home{
    margin-top: 60px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 584px;
    background-color: #2A254B;
}
.home h1{
    position: absolute;
    width: 513px;
    font-size: 32px;
    font-weight: 400;
    color: var(--color-white);
    margin-top: 60px;
    margin-left: 60px;
    font-family: 'ComFortaa', sans-serif;
}
.home p{
    position: absolute;
    width: 602px;
    font-size: 18px;
    font-weight: 100;
    color: var(--color-white);
    margin-top: 443px;
    margin-left: 60px;
    font-family: 'Satoshi', sans-serif;
    line-height: 26px;
}
.home img{
    width: 520px;
    height: 584px;
    position: absolute;
    margin-left: 760px;
    margin-top: auto;
}
.home button{
    width: 170px;
    height: 56px;
    margin-left: 60px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    color: var(--color-white);
    margin-top: 191px;
}

.page2{
    height: 355px;
    width: 1300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
}
h2{
    text-align: center;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-blue);
    font-family: 'ComFortaa', sans-serif;
}
.block1{
    width: 270px;
    height: 124px;
}
.block1 img{
    width: 24px;
    height: 24px;
}
 h3{
    margin-top: 16px;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-blue);
    font-family: 'ComFortaa', sans-serif;
}
.page2 p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    color: var(--color-blue);
    font-family: 'Satoshi', sans-serif;
    line-height: 26px;
}
.block2{
    width: 300px;
    height: 124px;
}
.block2 img{
    width: 24px;
    height: 24px;
}
.block3{
    width: 295px;
    height: 124px;
}
.block3 img{
    width: 24px;
    height: 24px;
}
.block4{
    width: 300px;
    height: 124px;
}
.block4 img{
    width: 24px;
    height: 24px;
}


.page3{
    width: 1280px;
    height: 681px;
   margin-left: 80px;
}
.page3 .cards{
    display: flex;
    justify-content: space-between;
}
.page3 h1{
    margin-top: 80px;
    margin-bottom: 36px;
    font-size: 32px;
    font-weight: 400;
    color: var(--color-blue);
    font-family: 'ComFortaa', sans-serif;
}
.card{
    width: 305px;
    height: 462px;
}
.card img{
    width: 305px;
    height: 375px;
}
.card h3{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-blue);
    font-family: 'ComFortaa', sans-serif;
}
.card p{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 300;
    color: var(--color-blue);
    font-family: 'Satoshi', sans-serif;
}
.page3 button{
    margin-left: 550px;
    margin-top: 35px;
    width: 170px;
    height: 56px;
    font-size: 16px;
    font-weight: 300;
    color: var(--color-blue);
    font-family: 'Satoshi', sans-serif;
    border: none;
    background-color: var(--color-white);
}
footer{
    display: flex;
    width: 1440px;
    height: 238px;
    background-color: #2A254B;
}
footer h1{
    font-size: 36px;
    font-weight: 300;
    color: var(--color-white);
    font-family: 'ComFortaa', sans-serif;
    padding-top: 53px;
    margin-left: 80px;
}
.adress p{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-white);
    font-family: 'Satoshi', sans-serif;
    line-height: 26px;
    width: 150px;
    margin-left: 80px;
}
h4{
    font-size: 16px;
    font-weight: 300;
    color: var(--color-white);
    font-family: 'ComFortaa', sans-serif;
    padding-top: 53px;
    margin-left: 114px;
}
footer img{
    margin-left: 114px;
    margin-top: ;
}
.tree{
    width: 118px;
    margin-left: 168px;
}
.tree p{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-white);
    font-family: 'Satoshi', sans-serif;
    line-height: 26px;
    width: 108px;
    margin-left: 80px;
}
.tree h4{
    font-size: 16px;
    font-weight: 300;
    color: var(--color-white);
    font-family: 'ComFortaa', sans-serif;
    padding-top: 53px;
    margin-left: 80px;
}
.four{
    margin-left: 108px;
}
.four p{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-white);
    font-family: 'Satoshi', sans-serif;
    line-height: 26px;
    width: 62px;
    margin-left: 80px;
}
.four h4{
    font-size: 16px;
    font-weight: 300;
    color: var(--color-white);
    font-family: 'ComFortaa', sans-serif;
    padding-top: 53px;
    margin-left: 80px;
}
.five{
    margin-left: 50px;
}
.five p{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-white);
    font-family: 'Satoshi', sans-serif;
    line-height: 26px;
    width: 62px;
    margin-left: 80px;
}
.five h4{
    font-size: 16px;
    font-weight: 300;
    color: var(--color-white);
    font-family: 'ComFortaa', sans-serif;
    padding-top: 53px;
    margin-left: 80px;
}
.soc{
    display: inline-flex;
    width: 254px;
    height: 24px;
    margin: auto;
    margin-top: 24px;
}

